
.thin_border{
    padding:1.4em;
    margin:0 0 1.5em 0;
    border:1px solid #ccc;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.border{
    padding:5px;
}

.height_total{
    height:100%;
}

.height_1{
    height:1px;
}

.height_2{
    height:2px;
}

.height_3{
    height:3px;
}

.height_4{
    height:4px;
}

.height_5{
    height:5px;
}

.height_10{
    height:10px;
}

.height_15{
    height:15px;
}

.height_25{
    height:25px;
}

.height_20{
    height:20px;
}

.height_30{
    height:30px;
}

.height_40{
    height:40px;
}

.height_50{
    height:50px;
}

.height_55{
    height:55px;
}

.height_60{
    height:60px;
}

.inherit_colors{
    background:inherit;
    color:inherit;
}

.inherit_height{
    height:inherit;
}

.inherit_line_height{
    line-height:inherit;
}

.bold{
    font-weight: bold;
}

.dbg_aqua{
    outline-color:#000000;
    outline-style:dotted;
    outline-width:1px;
}
.dbg_lime{
    outline-color:#000000;
    outline-style:dotted;
    outline-width:1px;
}
.dbg_black{
    outline-color:#000000;
    outline-style:dotted;
    outline-width:1px;
}
.dbg_black_thick{
    outline-color:#000000;
    outline-style:dotted;
    outline-width:2px;
}
.dbg{
    outline-color:#000000;
    outline-style:dotted;
    outline-width:1px;
}.dbg div{
     outline-color:#000000;
     outline-style:dotted;
     outline-width:1px;
 }

.line_height_40{
    line-height:40px;
}
.line_height_50{
    line-height:50px;
}

.pagewide{
    width:100%;
    position:absolute;
    left: 0%;
    right: 100%;
}

.list_style_type_none{
    list-style-type:none;
}


.by{
    width:100%;
    position:relative;
    float:left;
}

.by2{
    width:50%;
    position:relative;
    float:left;
}.by2p{
     padding-left:50%;
     position:relative;
     float:left;
 }.by2a{
      padding-right:50%;
      position:relative;
      float:left;
  }

.by3{
    width:33.333%;
    position:relative;
    float:left;
}.by3p{
     padding-left:33.333%;
     position:relative;
     float:left;
 }.by3a{
      padding-right:33.333%;
      position:relative;
      float:left;
  }

.by4{
    width:25%;
    position:relative;
    float:left;
}.by4p{
     padding-left:25%;
     position:relative;
     float:left;
 }.by4a{
      padding-right:25%;
      position:relative;
      float:left;
  }

.by5{
    width:20%;
    position:relative;
    float:left;
}.by5p{
     padding-left:20%;
     position:relative;
     float:left;
 }.by5a{
      padding-right:20%;
      position:relative;
      float:left;
  }

.by5x2{
    width:40%;
    position:relative;
    float:left;
}.by5x2p{
     padding-left:40%;
     position:relative;
     float:left;
 }.by5x2a{
      padding-right:40%;
      position:relative;
      float:left;
  }

.by8{
    width:12.5%;
    position:relative;
    float:left;
}.by8p{
     padding-left:12.5%;
     position:relative;
     float:left;
 }.by8a{
      padding-right:12.5%;
      position:relative;
      float:left;
  }

.by10{
    width:10%;
    position:relative;
    float:left;
}.by10p{
     padding-left:10%;
     position:relative;
     float:left;
 }.by10a{
      padding-right:10%;
      position:relative;
      float:left;
  }

.use0{
    width:0%;
    position:relative;
    float:left;
}.use0p{
     padding-left:0%;
     position:relative;
     float:left;
 }.use0a{
      padding-right:0%;
      position:relative;
      float:left;
  }


.use01{
    width:1%;
    position:relative;
    float:left;
}.use01p{
     padding-left:1%;
     position:relative;
     float:left;
 }.use01a{
      padding-right:1%;
      position:relative;
      float:left;
  }

.use02{
    width:2%;
    position:relative;
    float:left;
}.use02{
     padding-left:2%;
     position:relative;
     float:left;
 }.use02{
      padding-right:2%;
      position:relative;
      float:left;
  }



.use03{
    width:3.0%;
    position:relative;
    float:left;
}.use03p{
     padding-left:3.0%;
     position:relative;
     float:left;
 }.use03a{
      padding-right:3.0%;
      position:relative;
      float:left;
  }


.use04{
    width:4.0%;
    position:relative;
    float:left;
}.use04p{
     padding-left:4.0%;
     position:relative;
     float:left;
 }.use04a{
      padding-right:4.0%;
      position:relative;
      float:left;
  }



.use4{
    width:4%;
    position:relative;
    float:left;
}.use4p{
     padding-left:4%;
     position:relative;
     float:left;
 }.use4a{
      padding-right:4%;
      position:relative;
      float:left;
  }

.use5{
    width:5%;
    position:relative;
    float:left;
}.use5p{
     padding-left:5%;
     position:relative;
     float:left;
 }.use5a{
      padding-right:5%;
      position:relative;
      float:left;
  }


.use8{
    width:8%;
    position:relative;
    float:left;
}.use8p{
     padding-left:8%;
     position:relative;
     float:left;
 }.use8a{
      padding-right:8%;
      position:relative;
      float:left;
  }

.use083{
    width:8.3%;
    position:relative;
    float:left;
}.use083p{
     padding-left:8.3%;
     position:relative;
     float:left;
 }.use083a{
      padding-right:8.3%;
      position:relative;
      float:left;
  }

.use10{
    width:10%;
    position:relative;
    float:left;
}.use10p{
     padding-left:10%;
     position:relative;
     float:left;
 }.use10a{
      padding-right:10%;
      position:relative;
      float:left;
  }



.use14{
    width:14%;
    position:relative;
    float:left;
}.use14p{
     padding-left:14%;
     position:relative;
     float:left;
 }.use14a{
      padding-right:14%;
      position:relative;
      float:left;
  }



.use15{
    width:15%;
    position:relative;
    float:left;
}.use15p{
     padding-left:15%;
     position:relative;
     float:left;
 }.use15a{
      padding-right:15%;
      position:relative;
      float:left;
  }

.use16{
    width:16%;
    position:relative;
    float:left;
}.use16p{
     padding-left:16%;
     position:relative;
     float:left;
 }.use16a{
      padding-right:16%;
      position:relative;
      float:left;
  }


.use17{
    width:17%;
    position:relative;
    float:left;
}.use17p{
     padding-left:17%;
     position:relative;
     float:left;
 }.use17a{
      padding-right:17%;
      position:relative;
      float:left;
  }

.use19{
    width:19%;
    position:relative;
    float:left;
}.use19p{
     padding-left:19%;
     position:relative;
     float:left;
 }.use19a{
      padding-right:19%;
      position:relative;
      float:left;
  }

.use191{
    width:19.1%;
    position:relative;
    float:left;
}.use191p{
     padding-left:19.1%;
     position:relative;
     float:left;
 }.use191a{
      padding-right:19.1%;
      position:relative;
      float:left;
  }

.use20{
    width:20%;
    position:relative;
    float:left;
}.use20p{
     padding-left:20%;
     position:relative;
     float:left;
 }.use20a{
      padding-right:20%;
      position:relative;
      float:left;
  }

.use214{
    width:21.4%;
    position:relative;
    float:left;
}.use214p{
     padding-left:21.4%;
     position:relative;
     float:left;
 }.use214a{
      padding-right:21.4%;
      position:relative;
      float:left;
  }


.use236{
    width:23.6%;
    position:relative;
    float:left;
}.use236p{
     padding-left:23.6%;
     position:relative;
     float:left;
 }.use236a{
      padding-right:23.6%;
      position:relative;
      float:left;
  }

.use25{
    width:25%;
    position:relative;
    float:left;
}.use25p{
     padding-left:25%;
     position:relative;
     float:left;
 }.use25a{
      padding-right:25%;
      position:relative;
      float:left;
  }

.use28{
    width:28%;
    position:relative;
    float:left;
}.use28p{
     padding-left:28%;
     position:relative;
     float:left;
 }.use28a{
      padding-right:28%;
      position:relative;
      float:left;
  }



.use30{
    width:30%;
    position:relative;
    float:left;
}.use30p{
     padding-left:30%;
     position:relative;
     float:left;
 }.use30a{
      padding-right:30%;
      position:relative;
      float:left;
  }

.use309{
    width:30.9%;
    position:relative;
    float:left;
}.use309p{
     padding-left:30.9%;
     position:relative;
     float:left;
 }.use309a{
      padding-right:30.9%;
      position:relative;
      float:left;
  }



.use35{
    width:35%;
    position:relative;
    float:left;
}.use35p{
     padding-left:35%;
     position:relative;
     float:left;
 }.use35a{
      padding-right:35%;
      position:relative;
      float:left;
  }

.use40{
    width:40%;
    position:relative;
    float:left;
}.use40p{
     padding-left:40%;
     position:relative;
     float:left;
 }.use40a{
      padding-right:40%;
      position:relative;
      float:left;
  }

.use45{
    width:45%;
    position:relative;
    float:left;
}.use45p{
     padding-left:45%;
     position:relative;
     float:left;
 }.use45a{
      padding-right:45%;
      position:relative;
      float:left;
  }

.use50{
    width:50%;
    position:relative;
    float:left;
}.use50p{
     padding-left:50%;
     position:relative;
     float:left;
 }.use50a{
      padding-right:50%;
      position:relative;
      float:left;
  }


.use53{
    width:53%;
    position:relative;
    float:left;
}.use53p{
     padding-left:53%;
     position:relative;
     float:left;
 }.use53a{
      padding-right:53%;
      position:relative;
      float:left;
  }



.use55{
    width:55%;
    position:relative;
    float:left;
}.use55p{
     padding-left:55%;
     position:relative;
     float:left;
 }.use55a{
      padding-right:55%;
      position:relative;
      float:left;
  }


.use572{
    width:57.2%;
    position:relative;
    float:left;
}.use572p{
     padding-left:57.2%;
     position:relative;
     float:left;
 }.use572a{
      padding-right:57.2%;
      position:relative;
      float:left;
  }



.use528{
    width:52.8%;
    position:relative;
    float:left;
} .use528p{
      padding-left:52.8%;
      position:relative;
      float:left;
  } .use528a{
        padding-right:52.8%;
        position:relative;
        float:left;
    }




.use60{
    width:60%;
    position:relative;
    float:left;
}.use60p{
     padding-left:60%;
     position:relative;
     float:left;
 }.use60a{
      padding-right:60%;
      position:relative;
      float:left;
  }


.use62{
    width:62%;
    position:relative;
    float:left;
}.use62p{
     padding-left:62%;
     position:relative;
     float:left;
 }.use62a{
      padding-right:62%;
      position:relative;
      float:left;
  }


.use618{
    width:61.8%;
    position:relative;
    float:left;
}.use618p{
     padding-left:61.8%;
     position:relative;
     float:left;
 }.use618a{
      padding-right:61.8%;
      position:relative;
      float:left;
  }

.use65{
    width:65%;
    position:relative;
    float:left;
}.use65p{
     padding-left:65%;
     position:relative;
     float:left;
 }.use65a{
      padding-right:65%;
      position:relative;
      float:left;
  }

.use70{
    width:70%;
    position:relative;
    float:left;
}.use70p{
     padding-left:70%;
     position:relative;
     float:left;
 }.use70a{
      padding-right:70%;
      position:relative;
      float:left;
  }


.use72{
    width:72%;
    position:relative;
    float:left;
}.use72p{
     padding-left:72%;
     position:relative;
     float:left;
 }.use72a{
      padding-right:72%;
      position:relative;
      float:left;
  }



.use75{
    width:75%;
    position:relative;
    float:left;
}.use75p{
     padding-left:75%;
     position:relative;
     float:left;
 }.use75a{
      padding-right:75%;
      position:relative;
      float:left;
  }



.use76{
    width:76%;
    position:relative;
    float:left;
}.use76p{
     padding-left:76%;
     position:relative;
     float:left;
 }.use76a{
      padding-right:76%;
      position:relative;
      float:left;
  }



.use80{
    width:80%;
    position:relative;
    float:left;
}.use80p{
     padding-left:80%;
     position:relative;
     float:left;
 }.use80a{
      padding-right:80%;
      position:relative;
      float:left;
  }

.use85{
    width:85%;
    position:relative;
    float:left;
}.use85p{
     padding-left:85%;
     position:relative;
     float:left;
 }.use85a{
      padding-right:85%;
      position:relative;
      float:left;
  }

.use90{
    width:90%;
    position:relative;
    float:left;
}.use90p{
     padding-left:90%;
     position:relative;
     float:left;
 }.use90a{
      padding-right:90%;
      position:relative;
      float:left;
  }


.use917{
    width:91.7%;
    position:relative;
    float:left;
}.use917p{
     padding-left:91.7%;
     position:relative;
     float:left;
 }.use917a{
      padding-right:91.7%;
      position:relative;
      float:left;
  }



.use95{
    width:95%;
    position:relative;
    float:left;
}.use95p{
     padding-left:95%;
     position:relative;
     float:left;
 }.use95a{
      padding-right:95%;
      position:relative;
      float:left;
  }



.use96{
    width:96%;
    position:relative;
    float:left;
}.use96p{
     padding-left:96%;
     position:relative;
     float:left;
 }.use96a{
      padding-right:96%;
      position:relative;
      float:left;
  }

.use99{
    width:99%;
    position:relative;
    float:left;
}.use99p{
     padding-left:99%;
     position:relative;
     float:left;
 }.use99a{
      padding-right:99%;
      position:relative;
      float:left;
  }



.use100{
    width:100%;
    position:relative;
    float:left;
}.use100p{
     padding-left:100%;
     position:relative;
     float:left;
 }.use100a{
      padding-right:100%;
      position:relative;
      float:left;
  }

.use125{
    width:12.5%;
    position:relative;
    float:left;
}.use125p{
     padding-left:12.5%;
     position:relative;
     float:left;
 }.use125a{
      padding-right:12.5%;
      position:relative;
      float:left;
  }
.use333{
    width:33.333%;
    position:relative;
    float:left;
}.use333p{
     padding-left:33.333%;
     position:relative;
     float:left;
 }.use333a{
      padding-right:33.333%;
      position:relative;
      float:left;
  }

.use382{
    width:38.2%;
    position:relative;
    float:left;
}.use382p{
     padding-left:38.2%;
     position:relative;
     float:left;
 }.use382a{
      padding-right:38.2%;
      position:relative;
      float:left;
  }




.overflow_hidden{
    overflow:hidden;
}

HR .space {
    background:#fd78e1;
    color:#fd78e1;
}

HR .blank {
    background:transparent;
}

HR{
    color:#000000;
    background-color:#000000;
}

A:link {text-decoration: none; color:#000000;}
A:visited {text-decoration: none; color:#000000;}
A:active {text-decoration: none; color:#000000;}
A:hover {text-decoration: none; color:#000000;}
li a{font-weight:900;}

/* COMMON */
.cursor_link{
    cursor:pointer;
}

.cursor_pointer{
    cursor:pointer;
}

.bar {
    width:10%;
    height:15px;
    display: inline-block;
    vertical-align: bottom;
}

/* EO COMMON */

