<?xml version='1.0' encoding='utf-8'?>
<widget id="ai.newsmute" version="News Mute, BREAKING NEWS by Friends - The Smart News Updates Reader - 101"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        >
    <name>News Mute</name>
    <description>
        News Mute Mutes News ♪♪♪
    </description>
    <author email="nmd@Adimpression.mobi" href="http://NewsMute.com">
        Adimpression LLC
    </author>
    <access origin="*" />
    <icon src="res/icon.png" />

    <preference name="webviewbounce" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />

    <gap:plugin name="nl.x-services.plugins.toast" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.badrit.contactpicker" version="0.1.0" />
    <gap:plugin name="org.apache.cordova.battery-status" version="0.2.7" />

</widget>
