<ion-modal-view class="stable-bg reptile-bg">
    <ion-content>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col text-center">
                <h3 class="assertive">Login</h3>
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label calm assertive-bg padding">Email</span>
                <input  class="text-center"
                        type="text"
                       ng-model="user.email"
                        placeholder="name@example.com">
            </label>
            <label class="item item-input">
                <span class="input-label calm assertive-bg padding">Password</span>
                <input  class="text-center"
                        type="password"
                       ng-model="user.password"
                        placeholder="At least 6 letters">
            </label>
            <div class="padding">
                <button class="button con-left ion-log-in button-block button-assertive"
                        type="button"
                        ng-click="login()"> Login
                </button>
            </div>
        </div>
        <!--<div class="col text-right padding">-->
                <!--<a class="button button button-energized"-->
                   <!--href="#/register" nav-transition="android">Register</a>-->
        <!--</div>-->
    </ion-content>
</ion-modal-view>
