<ion-modal-view class="stable-bg reptile-bg">
    <ion-content>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col text-center">
                <h3 class="assertive">Login</h3>
            </div>
        </div>
        <div class="row">
            <h4 class="col text-center positive">
                A login is used to sync your news updates across devices
            </h4>
        </div>
        <div class="row padding">
            <div class="col button button-energized"
                    type="button"
                    ng-click="login()">
                Login with Facebook
            </div>
        </div>
        <div class="row padding">
            <div class="col button button-energized"
                    type="button"
                    ng-click="loginWithNewsMute()">
                Login with NewsMute
            </div>
        </div>
        <div class="col text-right padding">
            <a class="button button-energized"
               href="#/register" nav-transition="android">Register</a>
        </div>
    </ion-content>
</ion-modal-view>
