<ion-modal-view class="stable-bg reptile-bg">
    <ion-content>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col text-center">
                <h3 class="assertive">Login</h3>
            </div>
        </div>
        <div class="row">
            <h5 class="col text-center assertive">
                A login is used to sync your news updates across devices
            </h5>
        </div>
        <div class="row padding">
            <div class="col button button-assertive"
                    ng-click="login()">
                Login with Facebook
            </div>
        </div>
        <div class="row padding">
            <div class="col button button-assertive"
                    ng-click="loginWithNewsMute()">
                Login with NewsMute
            </div>
        </div>
        <div class="col text-right padding">
            <a class="button button-assertive"
               href="#/register" nav-transition="android">Register</a>
        </div>
    </ion-content>
</ion-modal-view>
