<ion-view view-title="News"
          hide-nav-bar="true"
          on-swipe-down="doRefresh();">
    <ion-content>
        <div ng-repeat="feed in feeds">
            <div ng-show="feedItem"
                 class="card"
                 on-swipe-right="showDetails =! showDetails; onMuteClick(feed);"
                 on-tap="feedItem =! feedItem; onReadClick(feed);"
                 on-swipe-left="onUnsubscribeClick(feed)"
                    >
                <div
                        class="item ttlm">
                    <h3 class="nm_title_text"
                        style="font-family: georgia, 'times new roman', times, serif; font-size: 20px; word-break:break-all; white-space: normal;">
                        {{feed.title}}
                    </h3>

                    <sub ng-show="!showDetails">
                        {{feed.source}}
                    </sub>

                    <div ng-show="!showDetails">&nbsp;</div>

                    <p style="height: 75px; overflow: hidden; font-size: 13px;font-family: georgia, 'times new roman', times, serif;"
                       ng-show="!showDetails"
                       feed-description></p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
