<ion-view view-title="News"
          hide-nav-bar="true">
    <ion-content>
        <ion-refresher
                pulling-text=""
                pulling-icon=""
                refreshing-icon=""
                spinner=""
                on-refresh="loadFeed();">
        </ion-refresher>
        </div>
        <div ng-repeat="feed in feeds">
            <div ng-show="feed.feedItemVisible"
                 class="card"
                 on-swipe-right="showDetails =! showDetails; onMuteClick(feed);"
                 on-tap="feed.feedItemVisible = false; onReadClick(feed, $index);"
                 on-swipe-left="onUnsubscribeClick(feed)">
                <div class="item ttlm">
                    <h3 class="nm_title_text"
                        ng-class="{'balanced': showDetails}"
                        style="font-family: georgia, 'times new roman', times, serif; font-size: 20px; word-break:break-all; white-space: normal;">
                        {{feed.title}}
                    </h3>

                    <sub ng-show="!showDetails">
                        {{feed.source}}
                    </sub>

                    <div ng-show="!showDetails">&nbsp;</div>

                    <p style="height: 75px; overflow: hidden; font-size: 13px;font-family: georgia, 'times new roman', times, serif;"
                       ng-show="!showDetails"
                       feed-description></p>
                </div>
            </div>
        </div>
        <div class="text-center">
              <div class="mui-btn mui-btn--raised text-center" ng-click="addMoreNews();">Add More News</div>
        </div>
    </ion-content>
</ion-view>
