<ion-modal-view>
    <ion-content>
        <div class="row">
            <div class="col text-center">
                <h3>Register</h3>
            </div>
        </div>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text"
                       ng-model="user.email"
                        placeholder="name@example.com">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password"
                       ng-model="user.password"
                        placeholder="At least 6 letters">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirm</span>
                <input type="password"
                       ng-model="user.confirm">
            </label>
            <button class="button con-left ion-log-in button-block button-assertive"
                    type="button"
                    ng-click="register()"> Register
            </button>

        </div>
        <div class="col text-right">
                <a class="button button-clear button-assertive"
                   href="#/login">Registered?</a>
        </div>
    </ion-content>
</ion-modal-view>
