<ion-modal-view class="stable-bg">
    <ion-content>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col text-center">
                <h3 class="energized">Register</h3>
            </div>
        </div>

        <div class="list">
            <label class="item item-input">
                <span class="input-label energized-bg text-center padding">Email</span>
                <input  class="text-center"
                        type="text"
                        ng-model="user.email"
                        placeholder="name@example.com">
            </label>
            <label class="item item-input">
                <span class="input-label energized-bg text-center padding">Password</span>
                <input  class="text-center"
                        type="password"
                        ng-model="user.password"
                        placeholder="At least 6 letters">
            </label>
            <label class="item item-input">
                <span class="input-label energized-bg text-center padding">Confirm</span>
                <input  class="text-center"
                        type="password"
                        ng-model="user.confirm"
                        placeholder="Retype your password">
            </label>
            <div class="padding">
                <button class="button con-left ion-log-in button-block button-energized"
                        type="button"
                        ng-click="register()"> Register
                </button>
            </div>
        </div>
        <div class="col text-right padding">
            <a class="button button button-assertive"
               href="#/login" nav-transition="android">Login</a>
        </div>
    </ion-content>
</ion-modal-view>
